<% layout('/layouts/boilerplate.ejs') %>


<div class="container my-5">
    <h1 class="text-center about-text">About Snyder's Cut</h1>
    <p class="text-center text-muted">Snyder's Cut helps you choose the perfect hairstyle based on your face shape and hair type using AI-powered analysis. ImagineMe AI is a website that allows users to generate pictures of themselves with various haircuts without the commitment of a real haircut. By uploading a picture of yourself, ImagineMe AI learns your facial features and provides accurate, realistic simulations of how different hairstyles and lengths would look on your face. This service enables users to experiment with an endless variety of hairstyles, from the latest trends to timeless classics, all with a few clicks and text prompts. Users can sign up to the ImagineMe website, purchase credits, and start creating images with the help of their prompting guide.</p>
    <p class="text-center">
        <a href="/home" class="btn btn-outline-primary">Back to Home</a>
    </p>
</div>
